:root {

--green: rgb(80, 189, 114);
--red: rgb(196, 88, 116);
--textcolor: rgb(70, 70, 70);

--discreteshadow: 0.5px 0.5px 2px rgba(26, 0, 47, 0.8);

  
    
  
}

.item {
 
  border-radius: 10px;
    background-color: white;
    box-shadow:1px 1px 11px 4px rgba(20, 0, 47, 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--textcolor);
  box-sizing: border-box;
  font-family: helvetica;
  font-size: 18px;
  font-weight: 600;
  min-height: 100vh;
  background-image: 
  radial-gradient(circle at top left, #BF7667, transparent),
   radial-gradient(circle at top right, #EFDDB7, transparent),
   radial-gradient(circle at bottom left, #aa9c52, transparent),
   radial-gradient(circle at bottom right, #e8cdc5, transparent);
   background-repeat: no-repeat;
}

p {
  font-weight: 500;
}

.grid {  
  width: calc(100% - 60px);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 60px;
  grid-auto-flow: dense;
  grid-column-gap: 30px;
  margin-left: 30px;
  margin-right: 30px;
  grid-row-gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
   
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--textcolor);
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  object-fit: cover;
}


.box6, .box9 {
  grid-row: span 4;
  filter: grayscale(85%);
  opacity: .8;
}

.box6:hover, .box9:hover {
  opacity: 1;
  filter: none;
}

.item {
  grid-column: auto / span 2;
}

.box1 {
  display: flex;
  flex-direction: row;
  grid-column: auto / span 4;
  height: 100%;
  justify-content: space-around;
}

.box1 li {
  align-self: center;
}

.box2 {
  display: flex;
  flex-direction: column;
  grid-row: span 4;
  overflow: hidden;

}

.box2 * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.box2 h2 {
  background-color: var(--green);
  color: white;
  align-self: center;
}

h2 {
  text-shadow: var(--discreteshadow);
  color: white;
}

.box3 {
 
  grid-row: span 4;
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.box3 h2 {
  flex: 1 1 0;
   background: var(--red);
   display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.box3 ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 1 0;
}

.box3 li {
}

.box3 li:nth-child(1) {
 
}

.box3 li:nth-child(2) {

}

.box3 li:nth-child(3) {

}


@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.box4 {
  display: flex;
  align-items: center;
}

h1 { 
  margin: 5px;
  margin-left: 20px;
  font-family: Consolas, Monaco, monospace;
  font-size: 1.1rem;
  border-right: .1em solid;
  width: 14ch; /* # of chars */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 10s steps(14, end), /* # of steps = # of chars */
             blink-caret .5s step-end infinite alternate;
}

.emoji {
  font-size: 2.5rem;
  text-align: center;
  text-shadow: 9px 9px 2px black;
  grid-column: auto / span 1;
}

@media only screen and (max-width: 500px) {

.grid {
  grid-template-columns: 1fr;
}

.item {
  grid-column: 1 / -1;
}

[class^="box"] {
  grid-column: auto / span 1;
}

}